
@{
}


<div class="container" style="max-width:1200px">
    <div class="master">
        <h4>Przesuniecie</h4>

        <table>
            <tr>
                @*<td>MoveID</td>
                    <td>
                        <input type="text" id="MoveID" />
                        <span class="error">Move required</span>
                    </td>*@


                <td>MoveNo</td>
                <td>
                    <input type="text" id="MoveNo" />
                    <span class="error">Valid date required</span>
                </td>



                <td>MoveDate</td>
                <td>
                    <input type="text" id="MoveDate" />
                    <span class="error">Valid date required</span>
                </td>



                <td>MoveDescription</td>
                <td colspan="3">
                    <textarea id="MoveDescription" style="width:100%"></textarea>
                </td>
            </tr>
        </table>


    </div>

    <div class="details">
        <h4>Order Items</h4>

        <table width="100%">
            <tr>
                <td>ItemName</td>
                <td>Quantity</td>
                <td>Rate</td>
                <td>&nbsp;</td>
            </tr>


            <tr>
                <td>
                    <input type="text" id="itemName" />
                    <span class="error">Item name required</span>
                </td>

                <td>
                    <input type="text" id="quantity" />
                    <span class="error">Item quantity required</span>
                </td>


                <td>
                    <input type="text" id="rate" />
                    <span class="error">Item rate required</span>
                </td>

                <td>
                    <input type="button" id="add" value="add" />

                </td>


            </tr>


        </table>

        <div id="orderItems" class="tablecontainer">

        </div>


        <div style="padding:10px 0px; text-align:right">
            <input id="submit" type="button" value="Save" style="padding:10px 20px" />

        </div>


    </div>





</div>


<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />


@section Scripts {

    <script src="~/AdminLTE/plugins/jquery-ui/js/jquery-ui.min.js"></script>

    <script>

        $(function () {
            $('#MoveDate').datepicker({
                dateFormat: 'mm-dd-yy'
            });
        })

        $(document).ready(function () {

            var orderItems = [];

            //Add button click function
            ///////////////////////////
            $('#add').click(function () {

                var IsValidItem = true;

                //if ($('#itemName').val().trim() == '')
                //{
                //    IsValidItem = false;
                //    $('#itemName').siblings('span.error').css('visibility', 'visible');
                //}
                //else {
                //    $('#itemName').siblings('span.error').css('visibility', 'hidden');
                //}


                if (IsValidItem) {
                    orderItems.push({
                        itemName: $("#itemName").val().trim()
                        //quantity: parseInt($('#quantity').val().trim()),
                        //rate: $('#rate').val().trim(),
                        //total: parseInt($('#quantity').val().trim())
                    })};

                    //clear
                     $('#itemName').val('').focus();
                     $('#quantity', '#rate').val('')

                    //pupulate orderItems

                    GeneratedItemsTable();


                });


            // Save buttton click function
            //////////////////////////////
            $('#submit').click(function () {
                //validation of order

                var isAllValid = true;

                if (orderItems.length == 0) {

                    $('#orderItems').html('<span style="color:red;">Please add order items</sdxxpan>');
                    isAllValid = true;
                }



                var datareq =
                    {
                        MoveNo: $.trim($('#MoveNo').val()),
                        //  MoveDate: $('#MoveDate').val().trim(),
                        MoveDescription: $.trim($('#MoveDescription').val()),
                       MoveList: orderItems
                    };
                  

              

                $.ajax({
                    url: "SaveMove",
                    type: "POST",
                    data: JSON.stringify(datareq),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {

                        if (d.status == true) {
                            alert("Zapisane");

                            orderItems = [];
                            $('#orderN0').val('');

                      //      $('#orderDate').val('');

                            $('#orderItems').empty();



                        }

                        else { alert('faild'); }


                    },
                    error: function () { alert('error') }



                });




            });



            //function for show added items in table
            ////////////////////////////////////////
            function GeneratedItemsTable() {

                if (orderItems.length > 0) {

                    var $table = $('<table/>');
                    $table.append('<thead><tr><th>Item</th><th>Quanityty</th><th>Rate</th><th>Total</th></tr></thead>');
                    var $tbody = $('<tbody/>');

                    $.each(orderItems, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.itemName));
                        $row.append($('<td/>').html(val.quantity));
                        $row.append($('<td/>').html(val.rate));
                        $row.append($('<td/>').html(val.total));
                        $tbody.append($row);
                    });

                    $table.append($tbody);
                    $('#orderItems').html($table);

                }
            }


        })


    </script>


}