
@{
}

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />



<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <div class="col-xs-6" ><h3>PRZESUNIĘCIE MAGAZYNOWE</h3></div>
                <div  >
                                                            <h5 class="pull-right">Przesunięcie NR #  
                                                            <input type="text" id="MoveNo" />
                                                              <br />
                                                             <span class="error pull-right">Numer nadawany automatycznie </span>
                                                              </h5>
                  </div>
            </div>
            <hr>
            <br />
            <br />

     
            <div class="row">
                <div class="col-xs-6">

                  
                    <div style="width:90%; margin:0 auto" class="tablecontainer">
                        <strong>Od kogo:</strong><a class="popup btn btn-primary" href="/Person/Save"  style="margin-left:10px"><i class="fa fa-download"></i>  Wyszukaj</a>
                       
                        <br />
                        <br />
                        <br />
                        <div id="odkogo">
                            
                        </div>

                        </div>
                    </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Do kogo:</strong> <button type="button" class="btn btn-primary" style="margin-left:10px; "><i class="fa fa-download"></i> Wyszukaj </button>  
                        
                        <br/>
                        <br />
                        <br />
                       
                        Imie i Nazwisko<br>
                        Stanowisko<br>

                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" style="margin-top:30px;">
                    <address>
                        <strong>Data przekazania:</strong><br>
                        <br />.........................................

                    </address>
                </div>
                <div class="col-xs-6 text-right" style="margin-top:25px; margin-bottom:30px;">
                    <address>
                        <strong>Data wystawienia:</strong><br>
                        March 7, 2014<br><br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>dotyczy sprzetu</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Item</strong></td>
                                    <td class="text-center"><strong>Price</strong></td>
                                    <td class="text-center"><strong>Quantity</strong></td>
                                    <td class="text-right"><strong>Totals</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <tr>
                                    <td>BS-200</td>
                                    <td class="text-center">$10.99</td>
                                    <td class="text-center">1</td>
                                    <td class="text-right">$10.99</td>
                                </tr>
                                <tr>
                                    <td>BS-400</td>
                                    <td class="text-center">$20.00</td>
                                    <td class="text-center">3</td>
                                    <td class="text-right">$60.00</td>
                                </tr>
                                <tr>
                                    <td>BS-1000</td>
                                    <td class="text-center">$600.00</td>
                                    <td class="text-center">1</td>
                                    <td class="text-right">$600.00</td>
                                </tr>
                                <tr>
                                    <td class="thick-line"></td>
                                    <td class="thick-line"></td>
                                    <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                    <td class="thick-line text-right">$670.99</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Shipping</strong></td>
                                    <td class="no-line text-right">$15</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Total</strong></td>
                                    <td class="no-line text-right">$685.99</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




















<div class="container" style="max-width:1200px">
    <div class="master">

        <div class="panel-heading"><h2>PRZESUNIĘCIE MAGAZYNOWE</h2></div>


        <div class="col-md-6 red">
            <div class="panel-heading">Numer Przesunięcia</div>
            <div class="panel-body">


                <input type="text" id="MoveNo" />
                <span class="error">Numer nadawany automatycznie</span>
            </div>
        </div>



        <div class="col-md-6 red">
            <div class="panel-heading">Data Przesunięcia</div>
            <div class="panel-body">


                <input type="text" id="MoveNo" />
                <span class="error">Numer nadawany automatycznie</span>
            </div>
        </div>

    </div>  
</div>





<table>
    <tr>
        @*<td>MoveID</td>
            <td>
                <input type="text" id="MoveID" />
                <span class="error">Move required</span>
            </td>*@


        <td>MoveNo</td>
        <td>
            <input type="text" id="MoveNo" />
            <span class="error">Valid date required</span>
        </td>



        <td>MoveDate</td>
        <td>
            <input type="text" id="MoveDate" />
            <span class="error">Valid date required</span>
        </td>



        <td>MoveDescription</td>
        <td colspan="3">
            <textarea id="MoveDescription" style="width:100%"></textarea>
        </td>
    </tr>
</table>



<div class="details">
    <h4>Order Items</h4>

    <table width="100%">
        <tr>
            <td>ItemName</td>
            <td>Quantity</td>
            <td>Rate</td>
            <td>&nbsp;</td>
        </tr>


        <tr>
            <td>
                <input type="text" id="itemName" />
                <span class="error">Item name required</span>
            </td>

            <td>
                <input type="text" id="quantity" />
                <span class="error">Item quantity required</span>
            </td>


            <td>
                <input type="text" id="rate" />
                <span class="error">Item rate required</span>
            </td>

            <td>
                <input type="button" id="add" value="add" />

            </td>


        </tr>


    </table>

    <div id="orderItems" class="tablecontainer">

    </div>


    <div style="padding:10px 0px; text-align:right">
        <input id="submit" type="button" value="Save" style="padding:10px 20px" />

    </div>


</div>




<input type="text" id="PassId" />


<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />


@section Scripts {

    <script src="~/AdminLTE/plugins/jquery-ui/js/jquery-ui.min.js"></script>


    <script>

        $(function () {
            $('#MoveDate').datepicker({
                dateFormat: 'yy-mm-dd'
            });
        })

        $(document).ready(function () {


 


            var orderItems = [];

            //Add button click function
            ///////////////////////////
            $('#add').click(function () {

                var IsValidItem = true;

                //if ($('#itemName').val().trim() == '')
                //{
                //    IsValidItem = false;
                //    $('#itemName').siblings('span.error').css('visibility', 'visible');
                //}
                //else {
                //    $('#itemName').siblings('span.error').css('visibility', 'hidden');
                //}


                if (IsValidItem) {
                    orderItems.push({
                        itemName: $("#itemName").val().trim()
                        //quantity: parseInt($('#quantity').val().trim()),
                        //rate: $('#rate').val().trim(),
                        //total: parseInt($('#quantity').val().trim())
                    })
                };

                //clear
                $('#itemName').val('').focus();
                $('#quantity', '#rate').val('')

                //pupulate orderItems

                GeneratedItemsTable();


            });






            // Save buttton click function
            //////////////////////////////
            $('#submit').click(function () {
                //validation of order

                var isAllValid = true;

                if (orderItems.length == 0) {

                    $('#orderItems').html('<span style="color:red;">Please add order items</sdxxpan>');
                    isAllValid = true;
                }



                var datareq =
                    {
                        MoveNo: $.trim($('#MoveNo').val()),
                        //  MoveDate: $('#MoveDate').val().trim(),
                        MoveDescription: $.trim($('#MoveDescription').val()),
                        MoveList: orderItems
                    };




                $.ajax({
                    url: "SaveMove",
                    type: "POST",
                    data: JSON.stringify(datareq),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {

                        if (d.status == true) {
                            alert("Zapisane");

                            orderItems = [];
                            $('#orderN0').val('');

                            //      $('#orderDate').val('');

                            $('#orderItems').empty();



                        }

                        else { alert('faild'); }


                    },
                    error: function () { alert('error') }



                });




            });


            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })


          




              function OpenPopup(pageUrl)
                {
                    var $pageContent = $('<div/>');

                    $pageContent.load(pageUrl);





                    $dialog = $('<div class="popupWindow" style="overflow:auto "></div>').html($pageContent).dialog({
                        draggable: true,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Popup dialog',
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }

                    });

              
                

                    $(".popupWindow").on('input', '#PassId', function () {

                        $(this).autocomplete({
                            source: function (request, response) {
                                var customer = new Array();
                                $.ajax({
                                    async: false,
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("Autocomplete", "Person"))",
                                    data: { "term": request.term },
                                success: function (data) {
                                    for (var i = 0; i < data.length ; i++) {
                                        customer[i] = { label: data[i].Value, Id: data[i].Key };
                                    }
                                }
                            });
                        response(customer);
                    },
                        select: function (event, ui) {
                            //fill selected customer details on form
                            $.ajax({
                                cache: false,
                                async: false,
                                type: "POST",
                                url: "@(Url.Action("GetDetail", "Person"))",
                                data: { "id": ui.item.Id },

                            success: function (data) {
                                $('#VisitorDetail').show();
                                $("#Id").html(data.id)
                                $("#Name").html(data.name)
                                $("#Mobile").html(data.mobile)
                                action = data.Action;
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Failed to retrieve states.');
                            }
                        });
                }
        });



                    });

                       




                    $('.popupWindow').on('submit', '#popupForm', function (e) {

                        var url = $('#popupForm')[0].action;


                        
                        $('#odkogo').text($("#Id").text()).append("</br>").append($("#Name").text()).append("</br>").append(
                        $("#Mobile").text());



                        $dialog.dialog('close');



                        e.preventDefault()
                    })



                    $dialog.dialog('open');









                }



       



            //function for show added items in table
            ////////////////////////////////////////
            function GeneratedItemsTable() {

                if (orderItems.length > 0) {

                    var $table = $('<table/>');
                    $table.append('<thead><tr><th>Item</th><th>Quanityty</th><th>Rate</th><th>Total</th></tr></thead>');
                    var $tbody = $('<tbody/>');

                    $.each(orderItems, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.itemName));
                        $row.append($('<td/>').html(val.quantity));
                        $row.append($('<td/>').html(val.rate));
                        $row.append($('<td/>').html(val.total));
                        $tbody.append($row);
                    });

                    $table.append($tbody);
                    $('#orderItems').html($table);

                }
            }



            
            

            



        })


       








    </script>


}