@{
    ViewBag.Title = "Wyszukaj użytkownika";
}


<h2>Wyszukaj: OD KOGO:</h2>
<br />

@using (Html.BeginForm("Save", "Person", FormMethod.Post, new { id = "popupForm" }))
{

@Html.Label("Nazwisko i imie")


    @Html.TextBox("PassId", null, new { style = " margin-left:20px;  width: 250px; " })



    <div class="table-responsive" style="margin-top:40px;">
        <table class="table" id="VisitorDetail">
            <tbody>
                <tr>
                    <th style="width: 20%">ID:</th>
                    <td div id="Id"></td>
                </tr>
                <tr>
                    <th>Imie</th>
                    <td id="Name"></td>
                </tr>
                <tr>
                    <th>telefon:</th>
                    <td id="Mobile"></td>
                </tr>
            </tbody>
        </table>
    </div>





<div align="right">
    <input    type="submit" class= "btn btn-danger pull-right" style="margin-top:40px; margin-left:40px; margin-right:40px;"  value="Zapisz" />
</div>





}



