<link href="~/AdminLTE/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/AdminLTE/dist/css/admin-lte.css" rel="stylesheet" />


<div style="width:90%; margin:0 auto" class="tablecontainer">
    <a class="popup btn btn-primary" href="/Equipment/Save/0" style="margin-bottom:20px;">Dodaj nowy sprzęt</a>
    <table id="myDatatable">
        <thead>
            <tr>               
                <th>Nazwa sprzętu</th>
                <th>Opis sprzętu</th>
                <th>Właściciel</th>    
                <th>Kategoria</th>
                <th>Wykonaj</th>
            </tr>
        </thead>
    </table>
</div>





@section Scripts {


<script src="~/AdminLTE/plugins/datatables/js/jquery.dataTables.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/adminlte/plugins/jquery-validate/js/jquery.validate.min.js"></script>
<script src="~/adminlte/plugins/jquery-validate/js/jquery.validate.unobtrusive.min.js"></script>



    <script>

        $(document).ready(



            function () {
                var oTable = $('#myDatatable').DataTable({



                    "ajax":
                      {
                          "url": '/Equipment/GetEquipment',
                          "type": "get",
                          "datatype": "json"
                      },
                    "columns":
                        [
                        { "data": "EquipementName", "autoWidth": true, "title": "Nazwa sprzętu" },
                        { "data": "EquipmentDescription", "autoWidth": true },
                         { "data": "Person", "autoWidth": true },
                        { "data": "CategoryName", "autoWidth": true },


                        { "data": "ID_equipment", "width": "50px", "render": function (data) { return '<a class="popup" href="/Equipment/Save/' + data + '">Edycja</a>' } }



                        ],
                    "pageLength": 25
                })


                $('.tablecontainer').on('click', 'a.popup', function (e) {
                    e.preventDefault();
                    OpenPopup($(this).attr('href'));
                })





                function OpenPopup(pageUrl) {
                    var $pageContent = $('<div/>');

                    $pageContent.load(pageUrl);


                    $dialog = $('<div class="popupWindow" style="overflow:auto" ></div>').html($pageContent).dialog({


                        draggable: true,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Dodaj/modyfikuj sprzęt',
                        height: 750,
                        width: 1200,

                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })


                    $(".popupWindow").on('input', '#Person', function () {
                        $(this).autocomplete({
                            source: function (request, response) {
                                var customer = new Array();
                                $.ajax({
                                    async: false,
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("Autocomplete", "Person"))",
                                    data: { "term": request.term },
                                    success: function (data) {
                                        for (var i = 0; i < data.length ; i++) {
                                            customer[i] = { label: data[i].Value, Id: data[i].Key };
                                        }
                                    }
                                });
                                response(customer);
                            },
                            select: function (event, ui) {
                                //fill selected customer details on form

                                $(this).val(ui.item.value)
                                $('#pa').val(ui.item.Id);
                                $('#Person').val(ui.item.label);

                               
                       

                                return false;


                            }
                        })

                    })


                    $(".popupWindow").on('click', '.nav-tabs li a', function () {

                        var w = $(this).text();

                        var exists = false;
                        for (var i = 0, opts = document.getElementById('Category').options; i < opts.length; ++i)
                            if (opts[i].text === w) {

                                $('select').val(i + 1);


                            }

                    })









                    $('.popupWindow').on('submit', '#popupForm', function (e) {


                        if ($('#nazwas').val() == '') {
                            $('#nazwas').addClass("form-control1");



                        }
                        else {

                            var url = $('#popupForm')[0].action;

                            $.ajax({
                                type: "POST",
                                url: url,
                                data: $('#popupForm').serialize(),
                                success: function (data) {
                                    $dialog.dialog('close');
                                    oTable.ajax.reload();
                                }
                            })
                        }

                        e.preventDefault()
                    })

                    $dialog.dialog('open');
                }

            });

    </script>
}
<style>
  
     .form-control1 {
    border-radius: 0;
    box-shadow: none;
    border-color: red;
     }
</style>