@model WebApplication.Entities.Equipment


@using (Html.BeginForm("Save", "Equipment", FormMethod.Post, new { id="popupForm"}))
{
    if (Model!=null && Model.ID_equipment>0 )
    {

        @Html.HiddenFor(a=>a.ID_equipment)

    }


    <div class="form-group">
        <label>Idequipment</label>
        @Html.TextBoxFor(a=>a.ID_equipment, new { @class= "form-control" })
    </div>


    <div class="form-group">
        <label>equipmentName</label>
        @Html.TextBoxFor(a => a.EquipementName, new { @class = "form-control" })
    </div>


    <div class="form-group">
        <label>equipmentDescription</label>
        @Html.TextBoxFor(a => a.EquipmentDescription, new { @class = "form-control" })
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>

}
